/* Empty. Add your own CSS if you like */
#map {
    height: 100%;
    width: 100%;
}

.scroll {
    height: 100%;
}
.bar-stable{
	background-color: #333333 !important;
	color:#ecf0f1 !important;
}
.title{
	color:#ecf0f1 !important;	
}
.tabs-icon-top{
background-color: red !important;
}